@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro');


* {
    margin: 0;
    padding: 0;
}

$blue: #347ee3;
$blue-dark: #0a2549;
$blue-light: #abc0f1;

$red: #e34234;
$red-dark: #7d1a11;
$red-light: #e34234;

$orange: #e39a34;
$orange-dark: #6b450f;
$orange-light: #eab468;

$gray: #747070;
$gray-dark: #3b3b3b;
$gray-light: #f4f4f4;

$font-stack: 'Source Sans Pro', sans-serif;
$font-header: 'Roboto Slab', serif;


:root {
    // Colors
    --color-primary: #{$blue};
    --color-primary-dark: #{$blue-dark};
    --color-primary-light: #{$blue-light};
    
    --color-secondary: #{$red};
    --color-secondary-dark: #{$red-dark};
    --color-secondary-light: #{$red-light};

    --color-tertiary: #{$orange};
    --color-tertiary-dark: #{$orange-dark};
    --color-tertiary-light: #{$orange-light};

    --gray: #{$gray};
    --gray-dark: #{$gray-dark};
    --gray-light: #{$gray-light};

    // Fonts
    --font-stack: #{$font-stack};
    --font-header: #{$font-header};
}


body {
    padding: 0 10%;
    font-family: var(--font-stack);
    background-color: var(--grey-light);
    line-height: 1.5;
	color: var(--grey-dark);
}

@import 'headers';
@import 'lists';


a {
    text-decoration: none;

    &:link {
        color: var(--color-primary);
    }

    &:visited {
        color: var(--color-primary-light);
    }

    &:hover, &:active, &:focus {
        color: var(--color-primary);
        font-weight: 600;
    }
}