@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro");
* {
  margin: 0;
  padding: 0; }

:root {
  --color-primary: #3d5f8a;
  --color-primary-light: #86a4ca;
  --color-primary-dark: #1c2735;
  --color-secondary: #cd0000;
  --color-secondary-light: #d25353;
  --color-secondary-dark: #5b0909;
  --gray: #747070;
  --gray-light: #f4f4f4;
  --gray-dark: #3b3b3b;
  --font-stack: Source Sans Pro, sans-serif;
  --font-header: Roboto Slab, serif; }

body {
  padding: 0 10%;
  font-family: var(--font-stack);
  background-color: var(--grey-light);
  line-height: 1.5;
  color: var(--grey-dark); }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2; }

h1 {
  font-size: 2em; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:link {
    color: var(--color-primary); }
  a:visited {
    color: var(--color-primary-light); }
  a:hover, a:active, a:focus {
    color: var(--color-primary);
    font-weight: 600; }

.navbar {
  background: var(--grey-dark);
  box-shadow: 0px 2px var(--color-primary-light);
  margin-bottom: 2rem; }

.navbar-item {
  text-decoration: none; }
