@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color-primary: #347ee3;
  --color-primary-dark: #0a2549;
  --color-primary-light: #abc0f1;
  --color-secondary: #e34234;
  --color-secondary-dark: #7d1a11;
  --color-secondary-light: #e34234;
  --color-tertiary: #e39a34;
  --color-tertiary-dark: #6b450f;
  --color-tertiary-light: #eab468;
  --gray: #747070;
  --gray-dark: #3b3b3b;
  --gray-light: #f4f4f4;
  --font-stack: Source Sans Pro, sans-serif;
  --font-header: Roboto Slab, serif;
  --font-weight: 400;
  --font-weight-bold: 600;
  --font-weight-thin: 200; }

body {
  padding: 0 10%;
  font-family: var(--font-stack);
  background-color: var(--grey-light);
  line-height: 1.5;
  color: var(--grey-dark); }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2; }

h1 {
  font-size: 2em; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:link {
    color: var(--color-primary); }
  a:visited {
    color: var(--color-primary-light); }
  a:hover, a:active, a:focus {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold); }
