@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro');

* {
	margin: 0px;
	padding: 0px;
}

/* Theming Variables */

:root {
	/* Color */
	--red-bright: #cd0000;
	--blue-bright: #0aa6fc;
	--grey-light: #f4f4f4;
	--grey-dark: #3b3b3b;

	--font-stack: 'Source Sans Pro', sans;
	--font-header: 'Roboto Slab', serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: var(--font-stack);
	color: var(--grey-dark);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}