
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro');


$color-primary: #347ee3;
$color-primary-dark: #0a2549;
$color-primary-light: #abc0f1;

$color-secondary: #e34234;
$color-secondary-dark: #7d1a11;
$color-secondary-light: #e34234;

$color-tertiary: #e39a34;
$color-tertiary-dark: #6b450f;
$color-tertiary-light: #eab468;

$gray: #747070;
$gray-dark: #3b3b3b;
$gray-light: #f4f4f4;


$font-stack: 'Source Sans Pro', sans-serif;
$font-header: 'Roboto Slab', serif;
$font-weight: 400;
$font-weight-bold: 600;
$font-weight-thin: 200;