[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
flask = "*"
pymongo = {extras = ["srv", "tls"],version = "*"}
flask-cors = "*"
ariadne = "*"

[requires]
python_version = "3.7"
